#container{
    height: 100%;
}
#container:after{
    display: block;
    clear: both;
    content: '';
}
.content{
    width: 100%;
}
.visual{
    position: relative;
    width: 100%;
    height: 570px;
    overflow: hidden;
}
.slider-type1{
    position: relative;
}
.bxslider{
    display: flex;
    width: 200%;
    height: 570px;
}
.visual_box li{
    width: 100%;
    color: #fff;
    padding: 130px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.txt-area{
    text-align: center;
}
.visual_box li:nth-child(1){
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/ff1a3584418773.5d5e087aee71f.jpg);
}
.visual_box li:nth-child(2){
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/e368de84906239.5d6c0a9260b1a.png);
}
.title{
    display: block;
    font-size: 50px;
    font-weight: bold;
}
.title:after{
    display: block;
    clear: both;
    content: '';
    width: 100px;
    height: 2px;
    background: #fff;
}
.cont{
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
}
.paging{

}
.arr li{
    position: absolute;
    color: #fff;
    font-size: 45px;
    margin-top: -22.5px;
    top: 50%;
    cursor: pointer;
}
.prev{
    left: 100px;
}
.next{
    right: 100px;
}
.paging{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50px;
}
.paging a{
    display: block;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
}
.paging a.active{
    background: #fff;
}








.inner{
    width: 1400px;
    margin: auto;
}
.slide_list{
    display: flex;
}
.slide_list li{
    width: 25%;
    height: 100px;
    border: 1px solid #ccc;
    margin: 0 10px;
}
.slide_list li a{
    display: block;
}
.slide_list strong{
    display: block;
}









